@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

.h1{
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  cursor: pointer;
}

header{
background-color: transparent;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 150px;
}

.logo{
    text-decoration: none;
    color: #9D9895;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    text-decoration: none;
    color: #9D9895;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;

}

.navigation p{
    text-decoration: none;
    color: #9D9895;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;

}
.navigation a:hover{
    color: #C3DAC8;
}
